.App {
  text-align: center;
  width: 100vw;
  margin-top: 26px;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.jc-center {
  justify-content: center;
}